body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h2 {
    font-size: 50px;
    color: #575757;
}

h3 {
    font-size: 50px;
    color: #575757;
}

.yellow-color {
    color: yellow;
}

p {
    color: #828282;
    margin-bottom: 15%;
    text-align: justify;
}

section {
    display: flex;
    height: 500px;
    margin-bottom: 100px;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 7%;
    padding-left: 5%;
}

.half-width img {
    height: 90%;
    padding: 9.5%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(to right, #FBA24F, tomato);
    padding: 15px 40px;
    color: white;
    border-radius: 50px;
}

.about-container {
    background-image: url(images/shapes/7.png);
}